// app global css in SCSS form

body {
  direction: rtl;
  font-family: iransans;
}

// Utilities
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: kalameh;
}

p {
  font-family: iransans;
}

button {
  font-family: iransans;
}

.intro {
  // height: 100vh;
  // width: 100vw;
}
.intro #showcase {
  color: white;
}

// swiper
.swiper {
  width: 100%;
  // height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 3vmin;
  background: #1d2333;
  color: white;
  padding: 8px 14px;
  border-radius: 12px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

// infinite loop
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  color: white;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  // width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(50px * 14);
  }

  .slide {
    height: 60px;
    width: 60px;
  }
}

// Dark Mode
body.body--dark {
  background-color: $background-dark;
}
.body--dark p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-dark;
}

.body--dark .footer {
  background-color: $case-dark;
}
.body--dark .recommend-one,
.body--dark .recommend-two {
  background-color: $case-dark;
}

// Light Mode
body.body--light {
  background-color: $background-light;
}

// .body--light p,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6{
//   color: $text-light;
// }
